fastapi
uvicorn
pandas
matplotlib                                                                                                                                                                                          numpy
