fastapi
uvicorn
pandas
matplotlib
statsmodels
scipy                                                                                                                                                                                            numpy
