fastapi
uvicorn
pandas
matplotlib
statsmodels                                                                                                                                                                                          numpy
